<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="layout">
<head>
  <title layout:fragment="title" th:text="|Details of ${product.getName()}|"></title>
</head>

<div layout:fragment="content">
  <div class="mb-4">
    <h1 class="display-5" th:text="|Details of ${product.getName()}|"></h1>
  </div>

  <table class="table table-striped table-hover align-middle">
    <thead class="table-dark">
      <tr>
        <th scope="col">Property</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Id</td>
        <td th:text="${product.getProductId()}">1</td>
      </tr>
      <tr>
        <td>Name</td>
        <td th:text="${product.getName()}"></td>
      </tr>
      <tr>
        <td>Price</td>
        <td th:text="${product.getPrice()}"></td>
      </tr>
      <tr>
        <td>Weight</td>
        <td th:text="${product.getWeight()}"></td>
      </tr>
      <tr>
        <td>Category</td>
        <td th:text="${product.getCategory().showName()}"></td>
      </tr>
    </tbody>
  </table>
</div>
